<img alt="logo" style="height: 130px;" src="images/digitaltrends-cheat-sheet.png" />
<div class="content" style="width: auto; margin: auto;">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <a class="menu-link" href="#home"><img src="images/home.png" alt="GitHub" style="height: 32px; margin-right: 1px;"> <span class="sr-only">(current)</span></a></li>
          <li>
            <a class="menu-link" href="#github">
              <img src="images/github.png" alt="GitHub" style="height: 32px; margin-right: 1px;">
              GitHub
            </a>
          </li>
          <li>
            <a class="menu-link" href="#visualstudio"><img src="images/vs.png" alt="GitHub" style="height: 32px; margin-right: 1px;">Visual Studio</a></li>
          <li>
            <a class="menu-link" href="#entitydeveloper"><img src="images/entitydev.png" alt="GitHub" style="height: 32px; margin-right: 1px;">Entity Developer</a></li>
          <li>
            <a class="menu-link" href="#oracle" style="padding-bottom: 20px;"><img src="images/oracle2.png" alt="GitHub" style="height: 10px; margin-top: 10px; margin-right: 1px;"></a></li>
          <li>
            <a class="menu-link" href="#ssms"><img src="images/sql.png" alt="GitHub" style="height: 32px; margin-right: 1px;">SQL Server MS</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <img src="images/install.png" alt="GitHub" style="height: 32px; margin-right: 1px;">
              Telepítéshez <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a class="menu-link" href="#install-vs">Visual Studio</a></li>
              <li><a class="menu-link" href="#oracle">Oracle</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Tippek</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#" class="open-popup">Üzenet küldése</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
<!--<nav>
    <ul>
      <li><a href="#home">Főoldal</a></li>
      <li><a href="#about">Rólunk</a></li>
      <li><a href="#contact">Kapcsolat</a></li>
    </ul>
  </nav>-->
  